# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Static build
staticfiles/

# Media
media/

# Node
node_modules/

# Tailwind
theme/static_src/node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db