{% extends "base/auth_base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="card bg-base-100 shadow-xl">

    <div class="card-body">

        <h1 class="text-3xl font-bold text-center">

            Create Account

        </h1>

        <p class="text-center text-base-content/70 mb-6">

            Create your Expense Tracker account.

        </p>

        <form method="post" class="space-y-5">

            {% csrf_token %}

            {% for field in form %}

            <div>

                <label class="label">
                    <span class="label-text">
                        {{ field.label }}
                    </span>
                </label>

                {{ field }}

                {% if field.errors %}
                <label class="label">
                    <span class="label-text-alt text-error">
                        {{ field.errors|striptags }}
                    </span>
                </label>
                {% endif %}

            </div>

            {% endfor %}

            <button type="submit" class="btn btn-primary w-full">

                Create Account

            </button>

        </form>

        <div class="divider">OR</div>

        <div class="text-center">

            <p>

                Already have an account?

            </p>

            <a href="{% url 'accounts:login' %}" class="link link-primary">

                Sign In

            </a>

        </div>

    </div>

</div>

{% endblock %}