{% extends "base/dashboard_base.html" %}

{% block title %}
Expenses
{% endblock %}

{% block dashboard_content %}

<div class="flex items-center justify-between mb-6">

    <div>
        <h1 class="text-2xl font-bold">
            Expenses
        </h1>

        <p class="text-base-content/60">
            Manage your expenses
        </p>
    </div>

    <a href="{% url 'expenses:create' %}" class="btn btn-primary">
        + Add Expense
    </a>

</div>


<div class="overflow-x-auto bg-base-100 rounded-box shadow">

    <table class="table">

        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Payment Method</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for expense in expenses %}

            <tr>

                <td>
                    {{ expense.title }}
                </td>

                <td>
                    {{ expense.category.name }}
                </td>

                <td>
                    {{ expense.payment_method.name }}
                </td>

                <td>
                    {{ expense.expense_date|date:"M d, Y" }}
                </td>

                <td class="font-semibold">
                    {{ expense.amount }}
                </td>

                <!-- Actions -->
                <td>
                    <div class="flex gap-2">

                        <a href="{% url 'expenses:detail' expense.pk %}" class="btn btn-primary btn-sm">
                            View
                        </a>

                        <a href="{% url 'expenses:update' expense.pk %}" class="btn btn-outline btn-sm">
                            Edit
                        </a>

                        <a href="{% url 'expenses:delete' expense.pk %}" class="btn btn-error btn-outline btn-sm">
                            Delete
                        </a>

                    </div>
                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="5" class="text-center py-10">
                    No expenses found.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


{% if is_paginated %}

<div class="mt-6">
    {% include "includes/pagination.html" %}
</div>

{% endif %}

{% endblock %}