<footer class="footer footer-center bg-base-100 border-t border-base-300 px-6 py-4">

    <aside class="flex flex-col md:flex-row items-center gap-2 text-sm text-base-content/70">

        <!-- Application -->
        <span>
            Expense Tracker
            <span class="font-semibold">
                v0.1.0
            </span>
        </span>

        <span class="hidden md:inline">•</span>

        <!-- Copyright -->
        <span>

            © {% now "Y" %}

            Expense Tracker

        </span>

        <span class="hidden md:inline">•</span>

        <!-- GitHub -->

        <a href="https://github.com/tsalajunior/expense_tracker_app"
           target="_blank"
           class="link link-hover">

            GitHub

        </a>

        <span class="hidden md:inline">•</span>

        <!-- Environment -->

        <div class="badge badge-success badge-outline">

            Development

        </div>

    </aside>

</footer>