{% load static %}

<!-- Logo -->
<div class="h-16 flex items-center px-6 border-b border-base-300">

    <a href="{% url 'dashboard:dashboard' %}" class="flex justify-between items-center gap-2 text-2xl font-bold text-primary">
        <img
        src="{% static 'images/LOGO.png' %}"
        alt="Expense Tracker"
        class="h-50 w-10"
    >
        Expense Tracker
    </a>
    <!-- <a href="{% url 'dashboard:dashboard' %}" class="text-primary text-bold text-xl">
        Expense Tracker
    </a> -->

</div>


<!-- Menu -->
<div class="flex-1 overflow-y-auto p-4">

    <ul class="menu menu-lg w-full">

        <!-- Dashboard -->

        <li class="menu-title">
            <span>Main</span>
        </li>

        <li>
            <a href="{% url 'dashboard:dashboard' %}">
                Dashboard
            </a>
        </li>


        <!-- Expenses -->

        <li class="menu-title mt-4">
            <span>Expenses</span>
        </li>

        <li>
            <a href="{% url 'expenses:list' %}">
                All Expenses
            </a>
        </li>

        <li>
            <a href="{% url 'expenses:create' %}">
                Add Expense
            </a>
        </li>

        <li>
            <a href="{% url 'expenses:category_list' %}">
                Categories
            </a>
        </li>


        <!-- Income -->

        <li class="menu-title mt-4">
            <span>Income</span>
        </li>

        <li>
            <a href="{% url 'incomes:list' %}">
                All Income
            </a>
        </li>

        <li>
            <a href="{% url 'incomes:create' %}">
                Add Income
            </a>
        </li>
        <li>
            <a href="{% url 'incomes:category_list' %}">
                Categories
            </a>
        </li>


        <!-- Budgets -->

        <li class="menu-title mt-4">
            <span>Planning</span>
        </li>

        <li>
            <a href="{% url 'budgets:list' %}">
                Monthly Budgets
            </a>
        </li>

        <li>
            <a href="{% url 'budgets:create' %}">
                Add Budget
            </a>
        </li>

        <!-- Reports -->

        <li class="menu-title mt-4">
            <span>Analytics</span>
        </li>

        <li>
            <a href="#">
                Reports
            </a>
        </li>


        <!-- User -->

        <li class="menu-title mt-4">
            <span>Account</span>
        </li>

        <li>
            <a href="#">
                Profile
            </a>
        </li>

        <li>
            <a href="#">
                Settings
            </a>
        </li>

    </ul>

</div>


<!-- Footer -->

<div class="border-t border-base-300 p-5">

    <div class="flex items-center gap-3">

        <div class="avatar placeholder">

            <div class="bg-primary text-primary-content rounded-full w-12">

                <span>

                    {% if request.user.is_authenticated %}
                    {{ request.user.first_name|first|default:request.user.username|first|upper }}
                    {% else %}
                    G
                    {% endif %}

                </span>

            </div>

        </div>

        <div>

            <p class="font-semibold">

                {% if request.user.is_authenticated %}
                {{ request.user.get_full_name|default:request.user.username }}
                {% else %}
                Guest
                {% endif %}

            </p>

            <p class="text-sm opacity-70">
                Expense Tracker
            </p>

        </div>

    </div>

</div>